.box{
    width: 100px;
    height: 200px;
    background-color: palegreen;
    animation: bgchange 4s infinite;
}

/* @keyframes bgchange {
    0%{
        background-color: red;
    }
    25%{
        background-color: black;
    }
    50%{
        background-color: palevioletred;
    }
    100%{
        background-color: blueviolet;
    }
} */

@keyframes bgchange {
    from{
        transform:translateX(0px);
    }
    to{
        transform: translateX(50px);
    }
}

@media (max-width:600px) {
    .box{
        display: none;
    }
}