.box{
    width: 100px;
    height: 200px;
    background-color: palegreen;
    animation: bgchange 4s infinite;
}

/* @keyframes bgchange {
    0%{
        background-color: red;
    }
    25%{
        background-color: black;
    }
    50%{
        background-color: palevioletred;
    }
    100%{
        background-color: blueviolet;
    }
} */

@keyframes bgchange {
    from{
        transform:translateX(0px);
    }
    to{
        transform: translateX(50px);
    }
}

@media (max-width:600px) {
    .box{
        display: none;
    }
}

button{
    cursor: pointer;
}
.newbox{
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 50%;
}
/* .triangel{
    width: 200px;
    height: 200px;
    clip-path: polygon(0% 100%,50% 0%,100% 100%);
    background-color: red;
} */

/* .triangel{
    background-color: palegreen;
    height: 200px;
    width: 200px;
    clip-path: polygon(0% 35%,50% 0%,100% 35%,75% 100%,25% 100%);
} */

/* .triangel{
    background-color: palegreen;
    height: 200px;
    width: 200px;
    clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
    clip-path: polygon(0% 100%,0% 0%,100% 100%);
} */
 .triangel{
    width: 100px;
    height: 100px;
    /* overflow: hidden; */
    overflow: scroll;
 }